table {
  background-color: rgb(37, 130, 176);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  padding: 7px 10px;
}

.table-header {
  margin-right: 10px;
}

body {
  display: flex;
  justify-content: center;
}